<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Example Weather Status |</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="sayfabir" *ngIf="loggedIn">Sayfa 1 
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sayfaiki" *ngIf="loggedIn">Sayfa 2</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="getserver" *ngIf="loggedIn">getServer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="serverPost" *ngIf="loggedIn" >NewServer</a>
        </li>
        
      </ul>
      <form  #loginForm="ngForm"  class="d-flex">
        <button class="btn btn-primary my-2 my-sm-0" *ngIf="loggedIn" (click)="logOut()"  type="submit">Çıkış</button>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" *ngIf="!loggedIn" >login</a>
        </li>
      </form>
      
    </div>
  </div>
</nav>